<div class="pagination mt-4 d-flex justify-content-center">
  <span class="page-link {% if not page_obj.has_previous %}disabled{% endif %}">
    <a href="?page=1">First</a>
  </span>
  <span class="page-link {% if not page_obj.has_previous %}disabled{% endif %}">
    <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Previous</a>
  </span>
  <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
  <span class="page-link {% if not page_obj.has_next %}disabled{% endif %}">
    <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
  </span>
  <span class="page-link {% if not page_obj.has_next %}disabled{% endif %}">
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  </span>
</div>
